body{
    text-align: center;
    background-color: #F5FFF7;
    color: #006281;
    overflow: hidden;

}

.start{
    text-decoration: none;
    color: #006281;;
    cursor: text;
}
.start:visited{
    color:#006281;;

}

.underlined-text{
    text-decoration: underline;
}

.block-square{
    margin:auto;
    text-align: left;
    width: 200px;
    height: 200px;
    background-color: #006281;
    color:#F5FFF7;
    /* justify-content: center; */
}
.relative-position{
    position: relative;
}
.level-button-hidden{
    display: none;
    margin-top : 40px; 
    color:#F5FFF7;
    font-size: 24px;
    width: 266px;
    height: 53px;
    background: #006281;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}

.left-text{
    text-align: left;
}

.block-text{
    width: 410px;
    height: 150px;
    margin: auto;
    margin-top: 60px;
}

.less{
    font-size: 24px;
}

.minus{
    text-decoration: none;
    color:#012e3b;
    cursor: pointer;
}


/* Level 3 CSS */

.text-input{
color:#006281;
width: 200px;
height: 21px;
background: #FFFFFF;
border: 1px solid #006281;
box-sizing: border-box;
border-radius: 5px;
}
.complexity{
    text-align: left;
    width: 400px;
    margin:auto;
    margin-top: 100px;
    font-size: 12px;
}

.submit-btn:disabled{
    margin-top : 40px; 
    color:#cbd4cd;
    font-size: 18px;
    width: 100px;
    height: 40px;
    background: #60767c;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}
.submit-btn:enabled{
    margin-top : 40px; 
    color:#cbd4cd;
    font-size: 18px;
    width: 100px;
    height: 40px;
    background: #60767c;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}
